<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Monsters Inc. Employee Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
      body {
          background-color: #343a40;
          color: #fff; /* Set text color to light */
      }
      .navbar-dark {
          background-color: #272b30;
      }

      .card {
          background-color: #454d54;
      }
  </style>
</head> 
<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand"style="margin-left:2pc;color:blue"> Monsters Inc</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="margin:auto;" id="navbarNav">

      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href={%url 'home'%}>Home</a>
        </li>
        <li class="nav-item">
          <li class="nav-item active">
          <a class="nav-link" href={%url 'employees'%}>Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url 'contactus'%}>Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={%url 'aboutus'%}>About US</a>
          </li>
      </ul>
    </div>
  </nav>
  <h2> Create New Employee</h2>
  <form method = 'Post' enctype = 'multipart/form-data'>
    {% csrf_token %}
    {{form}}
    <input type='submit' class ="btn btn-success" >
  </form>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
    </html>
    
     </tbody>
    </table>
  </div>
  
        </body>
    </html>